DATABASE_URL=postgres://template_user:template_password@localhost:5432/template_db

CLICKHOUSE_URL=http://localhost:8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=secure_password
CLICKHOUSE_DB=database_name

JWT_SECRET=sample_jwt_secret_please_replace_this_for_your_application_thanks